@model ARS.Models.TicketReserve_tbl

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h1>Create</h1>

<h4>TicketReserve_tbl</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="From" class="control-label"></label>
                <input asp-for="From" class="form-control" />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="To" class="control-label"></label>
                <input asp-for="To" class="form-control" />
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResDate" class="control-label"></label>
                <input asp-for="ResDate" class="form-control" />
                <span asp-validation-for="ResDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResFtime" class="control-label"></label>
                <input asp-for="ResFtime" class="form-control" />
                <span asp-validation-for="ResFtime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaneId" class="control-label"></label>
                <input asp-for="PlaneId" class="form-control" />
                <span asp-validation-for="PlaneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaneSeat" class="control-label"></label>
                <input asp-for="PlaneSeat" class="form-control" />
                <span asp-validation-for="PlaneSeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResTicketPrice" class="control-label"></label>
                <input asp-for="ResTicketPrice" class="form-control" />
                <span asp-validation-for="ResTicketPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResPlaneType" class="control-label"></label>
                <input asp-for="ResPlaneType" class="form-control" />
                <span asp-validation-for="ResPlaneType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

